.Modal {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.Modalcon {
  min-height: 350px;
  width: 350px;
  padding: 1rem 1.2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.h3 {
  color: rgb(85, 84, 84);
  margin-bottom: 0.5rem;
}

.ip {
  height: 2.5rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 5px;
}

.ipfont {
  font-size: small;
  font-weight: 500;
  color: grey;
}

.button {
  width: 100%;
  text-align: end;
}

.buttoncancel {
  height: 2rem;
  width: 4rem;
  border: none;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
}

.buttoncancel:hover {
  background-color: rgb(202, 201, 201);
  border-radius: 5px;
}

.buttonadd {
  height: 2rem;
  width: 3rem;
  border: none;
  color: white;
  background-color: #0052CC;
  border-radius: 5px;
  cursor: pointer;
}

.buttonadd:hover {
  background-color: #0546a8;
}

.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.suggestionItem {
  padding: 8px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}

.selectedEmails {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.buttonaddsend{
  height: auto;
  width: auto;
  border: none;
  padding: 10px;
  background-color:  rgb(81, 81, 230);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.selectedEmails h4 {
  margin: 0;
  color: #333;
}

.selectedEmails ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selectedEmails li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.removeButton {
  background: none;
  border: none;
  color: #ff4d4d;
  cursor: pointer;
  font-size: small;
}

.removeButton:hover {
  text-decoration: underline;
}

.inviteButtonContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.inviteButton {
  background-color: rgb(81, 81, 230);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.inviteButton:hover {
  background-color: blue; /* Darker green */
}
