.login{
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
}
.login-container{
  background-color: burlywood;
  height: 70vh;
  width: 40vh;
  display: grid;
  justify-content: center;
}

.img{
  width: 50px;
}